<% provide(:title, "Current Queue") %>

<% @title1 = "Current Queue" %>
<% @title2 = "Archive" %>

<!-- Queue -->
<section class="content">
  <h1><%= @title1 %></h1>

  <%= form_tag entries_path, :method => 'get', :class => 'search' do %>
    <div class="floating-search">
      <%= text_field_tag :unscanned_search, params[:unscanned_search] %>
      <%= submit_tag "Search", :name => nil %>
    </div>
  <% end %>

  <div id="queue-id"><%= render 'shared/unscanned' %></div>

  <% if logged_in? %>
  <h2>Add to Queue</h2>
    <%= render 'shared/entry_form' %>
  <% end %>
</section>

<!-- Archive -->
<section class="content">
  <h1 class="header-with-subtext"><%= @title2 %></h1>
  <p class="subtext"><%= link_to "See all", archive_path %></p>

  <%= form_tag entries_path, :method => 'get', :class => 'search' do %>
    <div class="floating-search">
      <%= text_field_tag :scanned_search, params[:scanned_search] %>
      <%= submit_tag "Search", :name => nil %>
    </div>
  <% end %>

  <div id="archive-id"><%= render 'shared/scanned' %></div>
</section>
