<% provide(:title, "Your Queue") %>

<% @title1 = "Your Queue" %>
<% @title2 = "Your Archive" %>

<!-- Queue -->
<section class="content">
  <h1><%= @title1 %></h1>
  <div id="queue-id"><%= render 'shared/unscanned' %></div>

  <% if logged_in? %>
    <%= render 'shared/entry_form' %>
  <% end %>
</section>

<!-- Archive -->
<section class="content">
  <h1><%= @title2 %></h1>
  <div id="archive-id"><%= render 'shared/scanned' %></div>
</section>
