<div class="entry-form">
  <%= form_for(@entry) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field-container">
      <div class="field">
        <%= f.label :sample, "Sample ID*" %>
        <%= f.text_field :sample,      placeholder: "Sample ID" %>
      </div>
      <div class="field">
        <%= f.label :charge, "Charge Number*" %>
        <%= f.text_field :charge,      placeholder: "Charge Number" %>
      </div>
      <div class="field">
        <%= f.label :scan_type, "Scan Type*" %>
        <%= f.text_field :scan_type,   placeholder: "(ie. RC, XRR, CAP, etc.)" %>
      </div>
      <div class="field">
        <%= f.label :file_format %>
        <%= f.text_field :file_format, placeholder: "(ie. .x00, .csv, etc.)" %>
      </div>
      <div class="field">
        <%= f.label :conditions %>
        <%= f.text_field :conditions,  placeholder: "(ex. 20 to 80 degrees)" %>
      </div>
    </div>
    <div class="field-container">
      <div class="box_1-3">
        <%= f.label :description %>
        <%= f.text_area :description,  placeholder: "Include sample composition, substrate, etc." %>
      </div>
      <div class="box_1-3">
        <%= f.label :instructions %>
        <%= f.text_area :instructions, placeholder: "Include specific recipe filename (if applicable) and other relevant information" %>
      </div>
      <div id="need_by" class="field need_by-field">
        <%= f.label :need_by %>
        <%= f.select :need_by, ["In Line", "ASAP", "Whenever"] %>
      </div>
      <!-- <div id="specific-date" class="field need_by-field-hidden">
        <%= f.label :need_by, "Specific Date" %>
        <%= f.text_field :need_by,     placeholder: "MM/DD/YY" %>
      </div> -->
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <div>* denotes required field.</div>
  <% end %>
</div>
