<!DOCTYPE html>
<html>
<head>
  <title>
      HRL | <%= yield(:title) %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="wrapper wrapper-space_between">
      <h1><a href="/">HRL Laboratories X-Ray Diffraction</a></h1>
      <nav class="main-nav">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <% if logged_in? %>
          <li>
            (Logged in as <%= current_user.name %>)
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
          <li>
            <%= link_to "Your Queue", current_user %>
          </li>
          <li>
            <%= link_to "Your Appointments", root_path %>
          </li>
          <li>
            <%= link_to "Calendar", calendar_index_path %>
          </li>
          <% else %>
          <li>
            <%= link_to "Login", login_path %>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <div class="alpha">
    <% flash.each do |message_type, message| %>
      <div class="alert flash-<%= message_type %>"><%= message %></div>
    <% end %>
  </div>

  <%= yield %>
  <%= yield :admin %>

  <footer>
    <div class="wrapper">
      <%= link_to 'Help', about_path %>
      <%= link_to 'About', about_path %>
      <% if admin? %>
        <%= link_to 'Admin Panel', admin_panel_path %>
      <% end %>
    </div>
  </footer>

</body>
</html>
